.leftside, .rightside { /*media queries/responsiveness is in index.css*/
    display: flex;
    flex-direction: column;
    width: 43.75vw;
    height: 100vh;
    overflow: scroll;
}

.booklistwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    /* width: 100vw; */
}
