.registerError {
    padding: 5px 10px;
    background-color: red;
    border-radius: 12px;
    max-width: 355px;
}

.registerSuccess {
    padding: 5px 10px;
    background-color: green;
    border-radius: 12px;
    max-width: 355px;
}

.signupwrapper {
    padding-inline: 20vw;
}
.inputwrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.bottompartidk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
form button {
    cursor: pointer;
    max-width: 30%;
    height: 50px;
}

form {
    width: 100%;
}
input[type=text] {
    color: var(--text);
    border: 1px solid var(--accent);
    border-radius: 12px;
    margin-block: 10px;
    padding: 13px;
    background-color: var(--lighterbackground);
}

input::placeholder {
    color: var(--accent);
}
input:focus {
    border-color: var(--accent);
}

.loginfield {
    display: flex;
    flex-direction: column;
}

.loginfield p {
    font-size: 1.5rem;
    margin: 0;
}
